a#editProfile{
    text-decoration: none;
    color: white;

}

.bookBtn{
    display: flex;
    justify-content: space-evenly;
}
.dropdown:hover .dropdown-content {
    display: block;
  }

.navBar{
    color: #8DC63F;
    font-weight: 2rem;
}
